*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-style: roboto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
input[type="text"]{
    width: 200px;
    height: 50px;
    border-radius: 5%;
    border: 2px dotted blue;
}
.done{
    text-decoration: line-through;
    font-weight: 300;
    list-style: lower-roman;


}